@model AdminRole.Models.ProjectAssignViewModel

@{
    ViewBag.Title = "AssignUsers";
}

<h2>AssignUsers</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id)
    @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList)
    <input type="submit" value="Submit!" />
}